/*Main page*/
body{
	max-width: 1100px;
	margin: auto;
	background-color: #f0efef;
}

.navbar-default {
	background-color: #90EE90;
	background-image: none;
	font-weight: bold;
	border: green;
}

/*Citation: https://stackoverflow.com/questions/21854138/changing-the-background-for-bootstrap-dropdown-a-on-hover*/
.navbar .navbar-nav > li > a:hover,
.dropdown-menu> li > a:hover,
.dropdown-menu{
  background-color: #d5f4e6;
  background-image:none;
}

.dropColor{
	background-color:#90EE90;
}

.dropdown-menu{
	background-color:#90EE90;
}

/*Citation: https://stackoverflow.com/questions/11288998/how-to-change-color-of-opened-bootstrap-dropdown-toggle (Bimal Das's answer)*/
.dropdown-toggle:active, .open .dropdown-toggle {
        background:#d5f4e6 !important; 
    }

h3{
	color: #86af49;
	font-weight: bold;
	text-decoration: underline;
}

.labelStyle{
    width: 200px;
    text-align: right;
}

.checkboxAlign{
	margin-left: 205px;
}
.formStyle{
	border: 3px solid black;
	border-radius: 5px;
	background-color: #deeaee;
	padding:15px;
}
.buttonStyle{
	border-radius: 5px; 
	height: 50px; 
	width: 100px;
	font-weight: bold;
}

#migraineDataCancel{
	background-color: #c94c4c;
}

#migraineDataSubmit{
	background-color: #b7d7e8;
}

.buttonAlign{
	margin-left: 205px;
}

/*Results page*/
h2{
	color: #b8a9c9;
	font-weight: bold;
	text-decoration: underline;
}

.resultBoxesStyle{
	border: 3px solid black;
	border-radius: 5px;
	background-color: #d5f4e6;
	padding:12px;
}

.rButtonStyle{
	border-radius: 5px; 
	height: 50px; 
	width: 100px;
	font-weight: bold;
}

#rDataCancel{
	background-color: #c94c4c;
}

#rDataSubmit{
	background-color: #b7d7e8;
}

/*Results table*/
#triggerDiv{
	margin-top: 10px;
	border: 3px solid black;
	height: 600px;
	width: 1100px;
	border-radius: 5px;
	background-color: #fbefcc;
}

#triggersTable, table, th, td{
	background-color: #cfe0e8;
	border: 3px solid #96897f;
}

.thStyle{
	font-weight:bold;
	font-size:24px;
	color:#f18973;
}

/*Signup page*/
.signUpBox{
	margin:0 auto;
	border: 3px solid black;
	border-radius: 5px;
	width:40%;
	height:200px;
	background-color: #deeaee;

}
.signUpStyle{
	width: 170px;
    text-align: right;
}

#fnID{
	padding-top:40px;
}

.buttonCenter{
	text-align:center;
	padding-top:4px;
}

/*submit Comp Msg*/
.submitCompMsg{
	color:blue;
	padding-top:85px;
	padding-left:20px;
}

#submitCompMsgBox{
	margin:0 auto;
	border: 3px solid black;
	border-radius: 5px;
	width:800px;
	height:600px;
	background-color: #F5F5DC;
	margin-top:200px;
}

.nameStyle{
	margin-left:22px;
}
/*About Us*/
#aboutUsMessageBox{
	border: 3px solid black;
	height: 380px;
	width: 1100px;
	border-radius: 5px;
	background-color: #c6bcb6;
}

.aboutUsMessage{
	font-size:17px;
	padding-top:8px;
	padding-right:10px;
	padding-left:10px;
	text-indent:30px;
}

/*Signup page Error*/
#loginError{
	color:red;
}

/*Landing page*/
.jumbotron_title{
	font-size:60px; 
	color:#003366;
}

#logInBox{
	margin-top:-525px; 
	margin-left:245px
}

.header-text{
	color:#003366;
}

#signUpTag{
	margin-top:8px;
}

#hrLineAlign{
	margin-top:300px;
}

#hrFooter{
	border-color:grey;
}

#copyRight{
	margin-top:-10px;
}

/*userSignUpComp page*/
#submitCompMsgBox2{
	margin:0 auto;
	border: 3px solid black;
	border-radius: 5px;
	width:800px;
	height:300px;
	background-color: #F5F5DC;
	margin-top:200px;
}