/*Main page*/
body{
	max-width: 1100px;
	margin: auto;
	background-color: #f0efef;
}

.navbar-default {
	background-color: #90EE90;
	background-image: none;
	font-weight: bold;
	border: green;
}

h3{
	color: #86af49;
	font-weight: bold;
	text-decoration: underline;
}

.labelStyle{
    width: 200px;
    text-align: right;
}

.checkboxAlign{
	margin-left: 205px;
}
.formStyle{
	border: 3px solid black;
	border-radius: 5px;
	background-color: #deeaee;
	padding:5px;
}
.buttonStyle{
	border-radius: 5px; 
	height: 50px; 
	width: 100px;
	font-weight: bold;
}

#migraineDataCancel{
	background-color: #c94c4c;
}

#migraineDataSubmit{
	background-color: #b7d7e8;
}

.buttonAlign{
	margin-left: 205px;
}

/*Results page*/
h2{
	color: #92a8d1;
	font-weight: bold;
	text-decoration: underline;
}

.resultBoxesStyle{
	border: 3px solid black;
	height: 150px;
	width: 600px;
	border-radius: 5px;
	background-color: #d5f4e6;
}

.rButtonStyle{
	border-radius: 5px; 
	height: 50px; 
	width: 150px;
	font-weight: bold;
	background-color: #b7d7e8;
}

#garButtonStyle{
	background-color: #b8a9c9;
}

.resultsNameStyle{
	width: 150px;
    text-align: right;
    vertical-align:center;
    padding-top:22px;
}

/*Average migraine duration, average migraine attack, most common triggers*/

table{
	width:60%;
	border:3px solid #e4d1d1;
}

th, td{
	border:3px solid #e4d1d1;
}

.amdTable, .amaTable{
	border:3px solid #e4d1d1;
	width:60%;
	height:200px;
}

/*Signup page*/
.signUpBox{
	margin:0 auto;
	border: 3px solid black;
	border-radius: 5px;
	width:40%;
	height:200px;
	background-color: #deeaee;

}
.signUpStyle{
	width: 170px;
    text-align: right;
}

#fnID{
	padding-top:40px;
}

.buttonCenter{
	text-align:center;
	padding-top:4px;
}

/*submit Comp Msg*/
.submitCompMsg{
	color:blue;
	padding-top:85px;
	padding-left:20px;
}

#submitCompMsgBox{
	margin:0 auto;
	border: 3px solid black;
	border-radius: 5px;
	width:800px;
	height:300px;
	background-color: #f9ccac;
	margin-top:200px;
}

/*About Us*/
#aboutUsMessageBox{
	border: 3px solid black;
	height: 380px;
	width: 1100px;
	border-radius: 5px;
	background-color: #c6bcb6;
}

.aboutUsMessage{
	font-size:17px;
	padding-top:8px;
	padding-right:10px;
	padding-left:10px;
	text-indent:30px;
}

/*Signup page Error*/
#loginError{
	color:red;
}

/*Landing page*/
.jumbotron_title{
	font-size:60px; 
	color:#003366;
}

#logInBox{
	margin-top:-525px; 
	margin-left:245px
}

.header-text{
	color:#003366;
}

#signUpTag{
	margin-top:8px;
}

#hrLineAlign{
	margin-top:300px;
}

#hrFooter{
	border-color:grey;
}

#copyRight{
	margin-top:-10px;
}

/*Results table*/
#triggersTable, table, th, td{
	background-color: #b7d7e8;
	border: 3px solid #96897f;
}

.thStyle{
	font-weight:bold;
	font-size:32px;
	color:#b9936c;
}